<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="myapp">
  <head>
    <script type="text/javascript" src="angular.min.js">  </script>
      <script type="text/javascript" src="app.js">
    </script>
    <meta charset="utf-8">
    <title>Module 1</title>
  </head>
  <body >
<div ng-controller="ToBuyController">
  <span ng-repeat="item in TobuyList" style="float:left">
         {{item.name}}<br>
         <button ng-click="rootFolders = user.login">Add {{ {item.name }}</button><br/>

     </span>
<div>
</div>
</div>
  </body>
</html>
